<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818774940321-uirrbcj6dt9esvtqbemtbmqfdpgmhrv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818774940321-uirrbcj6dt9esvtqbemtbmqfdpgmhrv1</string>
	<key>API_KEY</key>
	<string>AIzaSyC8rihCgCOYflXYdUuBGVpK3-WCVTA7QGw</string>
	<key>GCM_SENDER_ID</key>
	<string>818774940321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tainguyen.TaiNguyen-Notes</string>
	<key>PROJECT_ID</key>
	<string>swiftui-notes-961b8</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-notes-961b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818774940321:ios:97684621a8cf1127af2ee0</string>
</dict>
</plist>